    <div class="container">  
      <div class="row" id="just_data">
        <div class="col-sm-12">
          <div class="well">
            <b>Χώρες με κοινό όνομα πρωτεύουσας:</b> <%= @same_name %><br>
            <b>Έτος ανεξαρτητοποίησης των χωρών της Ευρώπης:</b><br>
            <% @independence_12.each do |(x, y)| %>
              <%= y %> - <%= x %><br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row" id="pies">
        <div class="col-sm-12">
          <div class="well">
            <div id="pies_div"></div>
            <div id="island_pie_div"></div>
          </div>
        </div>
      </div>
      <div class="row" id="maps">
        <div class="col-sm-12">
          <div class="well">
            <div id="maps_div"></div>
          </div>
        </div>
      </div>
      <div class="row" id="columns">
        <div class="col-sm-12">
          <div class="well">
            <div id="columns_div"></div>
            <div id="country_code_div"></div>
            Χώρες που διασχίζει ο ποταμός:
            <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Amazonios" disabled>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" disabled>Search</button>
            </span>
            </div>
            <% @river_countries.each do |x| %>
              <%= x %><br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row" id="histograms">
        <div class="col-sm-12">
          <div class="well">
            <div id="histograms_div"></div> 
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      // Load the Visualization API.
      google.load('visualization', '1.0', {
        'packages': ['corechart', 'map', 'bar']
      });

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(function() {
        drawChart();
        drawMap();
        drawTitleSubtitle();
        drawHistogram();
        drawIslands4();
        drawCountryCode();
      });

      function drawMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Population'],
          ['China', 'China: 1,363,800,000'],
          ['India', 'India: 1,242,620,000'],
          ['US', 'US: 317,842,000'],
          ['Indonesia', 'Indonesia: 247,424,598'],
          ['Brazil', 'Brazil: 201,032,714'],
          ['Pakistan', 'Pakistan: 186,134,000'],
          ['Nigeria', 'Nigeria: 173,615,000'],
          ['Bangladesh', 'Bangladesh: 152,518,015'],
          ['Russia', 'Russia: 146,019,512'],
          ['Japan', 'Japan: 127,120,000']
        ]);

        var options = { showTip: true };

        var map = new google.visualization.Map(document.getElementById('maps_div'));

        map.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Area');
        data.addColumn('number', 'Population Percentage');
        data.addRows(<%= raw @area_population_10 %>);

        // Set chart options
        var options = {'title': 'Ποσοστό πλυθησμού ανά περιφέρεια',
                       'width': 1000,
                       'height': 500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('pies_div'));
        chart.draw(data, options);
      }
      
      function drawIslands4() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Type');
        data.addColumn('number', 'Percentage');
        data.addRows(<%= raw @islands_4 %>);

        // Set chart options
        var options = {'title': 'Ποσοστό διαφόρων τύπων νησιών στη Γη',
                       'width': 1000,
                       'height': 500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('island_pie_div'));
        chart.draw(data, options);
      }
      
      function drawTitleSubtitle() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Length');
        data.addColumn('string', 'Lake');
  
        data.addRows(<%= raw @ekvoles_2 %>);
  
        var options = {
          chart: {
            title: 'Εκβολές μόνο σε λίμνες',
            subtitle: 'Ερώτημα 2'
          },
          height: '500',
          hAxis: {
            title: 'Time of Day',
            format: 'h:mm a'
          },
          vAxis: {
            title: 'Rating (scale of 1-10)'
          }
        };
  
        var material = new google.charts.Bar(document.getElementById('columns_div'));
        material.draw(data, options);
      }
      
      function drawCountryCode() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
  
        data.addRows([<% @country_code_4.each_with_index do |x, index| %>
          <% if index == @country_code_4.size - 1 %>
            ["<%= raw x %>"]
          <% else %>
            ["<%= raw x %>"],
          <% end %>
        <% end %>]);
  
        var options = {
          chart: {
            title: 'Χώρες με ρυθμό μεταβολής του πληθυσμού μικρότερο από -1%'
          },
          height: '400',
          hAxis: {
            title: 'Time of Day',
            format: 'h:mm a'
          },
          vAxis: {
            title: 'Rating (scale of 1-10)'
          }
        };
  
        var material = new google.charts.Bar(document.getElementById('country_code_div'));
        material.draw(data, options);
      }
      
      function drawHistogram() {
        var data = google.visualization.arrayToDataTable(<%= raw @gdp_2 %>);

        var options = {
          title: 'ΑΕΠ για τις χώρες μέλη της G-8',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('histograms_div'));
        chart.draw(data, options);
      }
    </script>