    <div class="container">  
      <div class="row" id="just_data">
        <div class="col-sm-12">
          <div class="well">
            <b>Χώρες με κοινό όνομα πρωτεύουσας:</b> <%= @same_name %><br>
            <b>Έτος ανεξαρτητοποίησης των χωρών της Ευρώπης:</b><br>
            <% @independence_12.each do |(x, y)| %>
              <%= y %> - <%= x %><br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row" id="pies">
        <div class="col-sm-12">
          <div class="well">
            <div id="pies_div"></div>
            <div id="island_pie_div"></div>
          </div>
        </div>
      </div>
      <div class="row" id="maps">
        <div class="col-sm-12">
          <div class="well">
            <div id="maps_div"></div>
          </div>
        </div>
      </div>
      <div class="row" id="columns">
        <div class="col-sm-12">
          <div class="well">
            <div id="columns_div"></div> 
          </div>
        </div>
      </div>
      <div class="row" id="histograms">
        <div class="col-sm-12">
          <div class="well">
            <div id="histograms_div"></div> 
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      // Load the Visualization API.
      google.load('visualization', '1.0', {
        'packages': ['corechart', 'map', 'bar']
      });

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(function() {
        drawChart();
        drawMap();
        drawTitleSubtitle();
        drawHistogram();
        drawIslands4();
      });

      function drawMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Population'],
          ['China', 'China: 1,363,800,000'],
          ['India', 'India: 1,242,620,000'],
          ['US', 'US: 317,842,000'],
          ['Indonesia', 'Indonesia: 247,424,598'],
          ['Brazil', 'Brazil: 201,032,714'],
          ['Pakistan', 'Pakistan: 186,134,000'],
          ['Nigeria', 'Nigeria: 173,615,000'],
          ['Bangladesh', 'Bangladesh: 152,518,015'],
          ['Russia', 'Russia: 146,019,512'],
          ['Japan', 'Japan: 127,120,000']
        ]);

        var options = { showTip: true };

        var map = new google.visualization.Map(document.getElementById('maps_div'));

        map.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Area');
        data.addColumn('number', 'Population Percentage');
        data.addRows(<%= raw @area_population_10 %>);

        // Set chart options
        var options = {'title': 'Ποσοστό πλυθησμού ανά περιφέρεια',
                       'width': 1000,
                       'height': 500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('pies_div'));
        chart.draw(data, options);
      }
      
      function drawIslands4() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Type');
        data.addColumn('number', 'Percentage');
        data.addRows(<%= raw @islands_4 %>);

        // Set chart options
        var options = {'title': 'Ποσοστό διαφόρων τύπων νησιών στη Γη',
                       'width': 1000,
                       'height': 500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('island_pie_div'));
        chart.draw(data, options);
      }
      
      function drawTitleSubtitle() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Length');
        data.addColumn('string', 'Lake');
  
        data.addRows(<%= raw @ekvoles_2 %>);
  
        var options = {
          chart: {
            title: 'Εκβολές μόνο σε λίμνες',
            subtitle: 'Ερώτημα 2'
          },
          height: '500',
          hAxis: {
            title: 'Time of Day',
            format: 'h:mm a'
          },
          vAxis: {
            title: 'Rating (scale of 1-10)'
          }
        };
  
        var material = new google.charts.Bar(document.getElementById('columns_div'));
        material.draw(data, options);
      }
      
      function drawHistogram() {
        var data = google.visualization.arrayToDataTable([
          ['Dinosaur', 'Length'],
          ['Acrocanthosaurus (top-spined lizard)', 12.2],
          ['Albertosaurus (Alberta lizard)', 9.1],
          ['Allosaurus (other lizard)', 12.2],
          ['Apatosaurus (deceptive lizard)', 22.9],
          ['Archaeopteryx (ancient wing)', 0.9],
          ['Argentinosaurus (Argentina lizard)', 36.6],
          ['Baryonyx (heavy claws)', 9.1],
          ['Brachiosaurus (arm lizard)', 30.5],
          ['Ceratosaurus (horned lizard)', 6.1],
          ['Coelophysis (hollow form)', 2.7],
          ['Compsognathus (elegant jaw)', 0.9],
          ['Deinonychus (terrible claw)', 2.7],
          ['Diplodocus (double beam)', 27.1],
          ['Dromicelomimus (emu mimic)', 3.4],
          ['Gallimimus (fowl mimic)', 5.5],
          ['Mamenchisaurus (Mamenchi lizard)', 21.0],
          ['Megalosaurus (big lizard)', 7.9],
          ['Microvenator (small hunter)', 1.2],
          ['Ornithomimus (bird mimic)', 4.6],
          ['Oviraptor (egg robber)', 1.5],
          ['Plateosaurus (flat lizard)', 7.9],
          ['Sauronithoides (narrow-clawed lizard)', 2.0],
          ['Seismosaurus (tremor lizard)', 45.7],
          ['Spinosaurus (spiny lizard)', 12.2],
          ['Supersaurus (super lizard)', 30.5],
          ['Tyrannosaurus (tyrant lizard)', 15.2],
          ['Ultrasaurus (ultra lizard)', 30.5],
          ['Velociraptor (swift robber)', 1.8]]);

        var options = {
          title: 'Lengths of dinosaurs, in meters',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('histograms_div'));
        chart.draw(data, options);
      }
    </script>